{% extends "base.html" %}
{% block title %}登录 - 獬豸安码{% endblock %}
{% block body_class %}auth-page{% endblock %}
{% block content %}
{% set auth_mode = "login" %}
{% include "_auth_shell.html" %}
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/auth-switch.js') }}?v=20260731-panel-slide"></script>
<script src="{{ url_for('static', filename='js/specular-buttons.js') }}?v=20260731-gold-rim" defer></script>
<script type="module" src="{{ url_for('static', filename='js/liquid-ether-background.js') }}?v=20260731-adaptive-performance"></script>
{% endblock %}
